body {
  background-color: #6d6875;
  font-size: 24px;
  color: #335C67;
  font-weight: bold;
}

form {
  border: 10px solid #9E2A2B;
  width: 60%;
  background-color: #FFF3B0;
}

h1 {
  margin-bottom: 15px;
  margin-left: 13%;
  text-decoration: underline;
  color: #FFF3B0;
}

#amount {
  width: 28%;
}

input {
  margin-top: 20px;
}

label {
  margin-left: 20px;
}

button {
  margin: 10px;
}

.output {
  background-color: #FFF3B0;
  width: 60%;
  border: 10px solid #9E2A2B;
  margin-top: 20px;
  padding: 15px;
  display: none;
}